/* You can add global styles to this file, and also import other style files */

:root {
  /* Colores principales  de la web -- estos siempre permanecaran */
  --color-primary: #6b8d23;
  --color-secondary: #f1efec;
}
  body{
    background-color: #fdfdfd;
  }
  * {
    font-family: Arial, sans-serif;
    color: var(--color-primary);

  }

