.popup  {
  background-color: #f1efec;

  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 506px;
  position: absolute;
  z-index: 999;

  .titulo ul {
    list-style-type: none;
    padding: 25px;

  }

  .titulo li a {
    text-decoration: none;
    color: #6b8e23;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif ;

  }

}
