/*images cabecera*/
.header-imgs img{
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* texto de punta a punta*/
.scroll-container {

  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  padding: 1rem 0;
}

.scroll-text h2 {
  font-family:Arial, Helvetica, sans-serif ;
  display: inline-block;
  color: var(--color-primary);
  font-size: 100px;
  font-weight: 400;
  margin: 0;
  animation: scroll 30s linear infinite;
}


/*animacion texto*/
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


/*imagenes*/
.img-restaurants{
  width: 100%;
  object-fit: cover;

}
.img-restaurants img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



  /*lista de productos*/
.lista-menu ul{
  font-size: 60px;
  list-style: none;
  margin: 45px;
  padding: 0;
  text-align: center;

}

.lista-menu ul li a {
  color: inherit;
  text-decoration: none;
  transition: font-family 0.2s ease; /*suaviza el tiempo */
}

.lista-menu ul li a:hover {
  font-family: Arial; /*cambia letra a otra*/
}

a {
  color: inherit;
  text-decoration: none; /*quitar el azul de las letras*/
}

