.header{
  background-color: #f3f1ee;
}

.img-logo {
  width: 100%;
  max-width: 240px;
  min-width: 140px; /*para que no se vuelva microscopico en movil*/
  height: auto;
}

.btn {
  color: #6b8d23;
}

/* Clase independiente */
.primary-btn {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}







